body {
  display: flex;
  flex-direction: column; /* Ensure content flows vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-around; /* Center items vertically */
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%; /* Take up full width within the max-width */
  padding: 20px;
}


h1 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  width: 300px;
  height: 30px;
  background-color: #1d2956;
  border-radius: 10px 10px 10px 10px;
}

h2 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  width: 300px;
  height: 25px;
  background-color: #5073f3;
  border-radius: 10px 10px 10px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

input[type="text"],
button {
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius:  10px 0px 0px 10px;
  
}

button {
  padding: 8px 26px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius:  0px 10px 10px 0px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
